<h1>INDEX</h1>
<div class="btn btn-primary" onclick="top.location = 'https://www.facebook.com/dialog/oauth?client_id=542124329158664&redirect_uri=https://dev-machine.com:3000/tab/&scope=user_birthday';"> 
	Me gusta
	</div>
