@import "bootstrap";
@import "bourbon";
//CUSTUME MIXIN
@mixin fadeColor($name, $color){
  .fade-#{$name}{
   @include linear-gradient(to bottom, transparent 0%, transparent 0%,  #{$color} 100%);
   opacity: 1;
   margin-top: 0px;
   transition: all 0.35s ease 0s;
  }

  .marco-#{$name}{
    background-color:  #{$color};
  }

  .marco:hover .fade-#{$name}{
  //@include linear-gradient(to bottom, transparent 0%, transparent 90%, #{$color} 100%);
  opacity: 0;
  margin-top:25px;
  transition: all 0.35s ease 0s;
  }
  @include likeColor($name,$color)
}

@mixin likeColor($name,$color){
  .marco:hover .like-#{$name}{
    background-color: #{$color};
  }
}

.navbar-inner{
  background-color: black;
  background-image: none;
}

.logo{
  margin: 10px;
}

.logo > img {
  padding: 10px;
}

body{
  margin-top: 70px;
  width: 100%;
}

.span3{
  width: 180px;
  margin-left: 11px;
}

.span3 > img{
  max-width: 170px;
}

.container-fluid{
  padding: 0px;
  padding-bottom: 200px;
}

.container{
  width: 780px;
}

.main-container{
  /*
  height: 730px;
  overflow: auto;
  width: 810px;
  margin-top:70px;
  */
}

.first-span{
  margin-left: 0px;
}

.marco{
  //border: 1px solid #b6b6b6;
  //border-bottom: 4px solid #b6b6b6;
  transition: all 0.35s ease 0s;
  margin-bottom: 13px;
  margin-top: 0px;
  background-color: black;
  width: 180px;
  padding-bottom: 1px;
}

.marco:hover{
  //border: 1px solid #16A085;
  //border-bottom: 4px solid #16A085;
  transition: all 0.35s ease 0s;
  margin-bottom: 13px;
}

.product-desc{
  width: 158px;
  height: 0px;
  overflow: hidden;
  transition: 0.35s;
  margin: 0 10px 10px 10px;
  color: white;
  
}

.marco:hover .product-desc{
  margin: 0 10px 10px 10px;
  height: 70px;
  transition: 0.35s;
}

.title{
  color: #ffffff;
  font-family: 'pnova_bold',Helvetica,Arial,Sans-Serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
  margin: 10px;
  background-color: none;
  width: 160px;
  height: 60px;
  text-align:center;
  border-bottom: 1px solid white;
}

.no-like, .like{
    background-color: #000;
    color: white;
    height: 0px;
    //margin-top: -10px;
    //padding: 3px 0px;
    //position: absolute;
    width: 180px;
    visibility: hidden;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    margin-top: 0px;
    transition: all 0.35s ease 0s;
}

.like:hover, .no-like:hover{
  box-shadow: 0px 0px 2px 2px #b6b6b6;
}

.marco:hover .like, .marco:hover .no-like{
    background-color: #16A085;
    color: white;
    height: 20px;
    margin-left: 0px;
    padding: 3px 0px;
    //position: absolute;
    width: 180px;
    visibility: visible;
    margin-top: 0px;
    opacity: 1;
    transition: all 0.35s ease 0s;
}

.fade-marco{
  height: 180px;
  position: absolute;
  width: 180px;
}


@include fadeColor('rojo','#FA7722');
@include fadeColor('negro','#EE213D');
@include fadeColor('azul','#2358A5');
@include fadeColor('verde','#BD1A8C');
@include fadeColor('trendyta','#16A085');
/*
@include fadeColor('rojo','#2B3DAC');
@include fadeColor('negro','#5526AB');
@include fadeColor('azul','#1C769E');
@include fadeColor('verde','#0E1B70');
@include fadeColor('trendyta','#4FA8CE');
*/
.collection-image{
  background-size: cover;
  height: 180px;
  width: 180px;
}

a:hover{
  text-decoration: none;
}
