<div class="navbar navbar-fixed-top">
  <div class="navbar-inner" style="text-align: center;">
    <a class="logo" href="https://trendyta.com">
    	<img src="http://www.trendyta.com/i/logo_trendyta.png"/>
    </a>
  </div>
</div>